<% layout('layout') -%>

<div class="jumbotron">
  <div class="container">
    <h1> This is Chengguang's Store!</h1>
    <p>I tried to use node.js to build an e-commerce web application</p>
    <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Signup</a>
      <a class="btn btn-default btn-lg" href="/login" role="button">Login</a></p>
  </div>
</div>
