
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chengguang's Store</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="/css/main.css" rel="stylesheet">

  </head>

  <body>

    <% include ./partials/navbar %>

<div class="container">
      <!-- Example row of columns -->
      <%- body -%>

      <!-- /container -->
      <% include ./partials/footer %>
      <% include ./partials/js %>

    </div>
  </body>
</html>
